<header class="site-header">
  <button class="toggle_menu">
    <span class="sandwich">
      <span class="sw-topper"></span>
      <span class="sw-bottom"></span>
      <span class="sw-footer"></span>
    </span>
  </button>
  <nav class="top_menu">
    <ul>
      <li class="main-items"><a href="{{site.baseurl}}/">首页</a></li>
      <li class="main-items"><a href="">建设中</a></li>
    </ul>
  </nav>
  <div class="header-content">
    <div class="logo">
      <a href="{{site.baseurl}}/" class="logo-link">美艺空间</a>
    </div>
  </div>
</header>
